<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>瑞和锦程-物流管理系统</title>
</head>
<body>
	<div id="root"></div>
	<style>
		.text-row{ background: rgba(205, 205, 205, .5)!important; }
	</style>
</body>
</html>